@charset utf-8;
linehtml, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video,input,textarea {
	margin:0;
	padding:0;
	border:none;
	font-weight:normal;
	background:transparent;
	font-size: 1.4rem;
}
html {
	font-size:62.5%;
}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {	display:block;}
body{
	font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;
	margin:0;
	padding:0;
	font-size:1.4rem;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	background-image: url('../img/bg.png');
}
ul {
	-webkit-padding-start: 0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	list-style: none;
}
li { list-style: none; }
